<body>
  {{!-- nav bar section --}}

  <section id="navBar">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a href="/jobcards"><img src="/assets/images/Job Quest logo.jpeg" class="logo" height="100px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/jobform">Create Job Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobcards">Your Job Cards</a>
          </li>
        </ul>
        <form id="formId" class="form-inline my-2 my-lg-0">
          <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search for a job card..."
            aria-label="Search">
        </form>
        <button class="btn btn-outline-success my-2 my-lg-10" type="submit" id="searchBtn">Search</button>
        <button type="submit" class="btn btn-primary" id="logOutBtn">Log Out</button>

      </div>
    </nav>

  </section>
  <h3>
    <span class="lead font-italic" id="funQuote"></span>
  </h3>
  <h3 id="author"></h3>

  {{!-- job cards section --}}
  <section id="cards" class="cards">

    {{#each eachJob as |singleJob|}}

      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div id="card-name" ++ class="card-header">
          <h3>{{singleJob.company}}</h3>
          <div class="iconsDiv">
            <button id="editBtn" onclick="getJobForm('{{singleJob.id}}')">
              <img src="/assets/images/pen.png" align="center" width="20px" height="20px" alt="edit icon">
            </button>
            <button id="deleteBtn" onclick="deleteCard('{{{singleJob.id}}}')">
              <img src="/assets/images/trash.png" align="center" width="20px" height="20px" alt="delete icon">
            </button>
          </div>
        </div>
        <div id="company1" class="card-body">
          <h4>Job Description</h4>
          <h6>POSITION: {{singleJob.position}}</h6>
          <h6>JOB POST: <a href="{{singleJob.link}}" target="_blank">link</a></h6>
          <h6>LISTED SALARY: {{#moneyFormat singleJob.salary}}{{/moneyFormat}}</h6>
          {{#if haveApplied }}
            <h6>
              <label for="checkbox">
                Applied to job?
                <input type="checkbox" id="appliedTo" checked class="card-title"></input>
              </label>
            </h6>
          {{/if}}
          {{#unless haveApplied}}
            <h6>
              <label for="checkbox">
                Applied to job?
                <input type="checkbox" id="appliedTo" class="card-title"></input>
              </label>
            </h6>
          {{/unless}}

          {{#if feedback }}
            <h6>
              <label for="checkbox">
                Any feedback?
                <input type="checkbox" id="feedback" checked class="card-title"></input>
              </label>
            </h6>

          {{/if}}
          {{#unless feedback}}
            <h6>
              <label for="checkbox">
                Any feedback?
                <input type="checkbox" id="feedback" class="card-title"></input>
              </label>
            </h6>
          {{/unless}}
          <div>
            <h4>Recruiter</h4>
            <h6>
              NAME: {{#formatStringData recruiterName}}{{/formatStringData}}
            </h6>

            <h6>
              PHONE: {{#formatStringData recruiterPhone}}{{/formatStringData}}
            </h6>
            <h6>
              EMAIL: {{#formatStringData recruiterEmail}}{{/formatStringData}}
            </h6>
          </div>

          <div>
            <h4>Interview</h4>
            <h6>
              SCREENING INTERVIEW: <br>
              {{#dateFormat screeningInterview}} {{/dateFormat}}
            </h6>
            <h6>
              TECHNICAL INTERVIEW: <br>
              {{#dateFormat technicalInterview}} {{/dateFormat}}
            </h6>
            <h6>
              FINAL INTERVIEW: <br>
              {{#dateFormat finalInterview}} {{/dateFormat}}
            </h6>
          </div>
          <div>
            <h4>
              Job Offer:
            </h4>
            <h6>
              BENEFITS PACKAGE: <br>
              {{#formatStringData jobOffer}}{{/formatStringData}}
            </h6>
          </div>
        </div>
      </div>
    {{/each}}

  </section>

</body>

<script src="assets/js/cards.js"></script>
<script src="assets/js/Delete.js"></script>
<script src="assets/js/LogOut.js"></script>
<script src="/assets/js/motivationalQ.js"></script>
